.donate {
  width: 100%;
  /* min-width: 23rem; */
  height: 100vh;
  /* background-color: green; */
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.grid-layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 0;
  overflow: auto;
}


.donate .chat-border-left,
.donate .chat-border-right {
  /* background-color: green; */
  width: 100%;
  height: 100vh;
  /* background-color: red; */
  display: flex;
  flex: 0 1 auto; /* Initial width auto, can shrink if needed */
}