@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

:root {
  --scroll-offset: 157;
}

.chat-area {
  width: 100%;
  min-width: 23rem;
  height: 100vh;
  /* background-color: green; */
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.chat-area-conversing {
  justify-content: flex-end;
}

.chat-area-dialogue {
  --scroll-offset: 157;
  width: 50%;
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: rgb(177, 177, 177) transparent;
  scrollbar-width: thin;
  padding-right: calc(var(--scroll-offset) * 1vw - var(--scroll-offset) * 1%);
  margin-right: calc(-1 * var(--scroll-offset) * 1vw + var(--scroll-offset) * 1%);
  /* background-color: red; */
}

.chat-input {
  width: 50%;
  height: 19.11%;
  min-width: 23rem;
  background-color: #D2C4BC;
  border: 2px solid #825F40;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 0px 40px 2px #06396fb1;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 5px;
  resize: none;
  overflow-y: auto;
  scrollbar-color: #8b8b8b transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.chat-area-conversing {
  width: 100%;
  min-width: 23rem;
  height: 97.5vh;
  /* background-color: green; */
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.text-area {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  font-family: Prata;
  font-weight: normal;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-fill-color: #825F40;
  font-size: 16px;
  resize: none;
  overflow-y: auto;
  scrollbar-color: #8b8b8b transparent;
}

.text-area:focus, .text-area:hover {
  outline: none;
}

.chat-input:focus, .chat-input:hover {
  outline: none;
  border-color: #613F22;
}

.send-button {
  align-self: flex-end;
  margin-right: 15px;
}

.send-icon {
  color: white;
  width: 1.8rem;
  height: 1.8rem;
}

.stop-icon {
  color: white;
  background-color: red;
  width: 65%;
  height: 65%;
}
