@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.chat-area {
  width: 100%;
  min-width: 23rem;
  height: 100vh;
  /* background-color: green; */
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greeting-h1 {
  font-family: Prata;
  font-size: min(3rem, 6vw);
  height: min(3rem, 6vw);
  color: aliceblue;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: normal;
  /* text-shadow: 1px 1px black; */
  /* background-color: red; */
}

.greeting-h2 {
  font-family: Prata;
  font-size: min(21px, max(18px, 3.4vw));
  width: 120%;
  min-width: 23rem;
  color: aliceblue;
  text-align: center;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: normal;
  /* text-shadow: 1px 0px black; */
  /* background-color: red; */
}

h1, h2 {
  margin-top: 0;
  margin-bottom: 0.9rem;
}

.chat-input {
  width: 50%;
  height: 19.11%;
  min-width: 23rem;
  background-color: #D2C4BC;
  border: 2px solid #825F40;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 0px 40px 2px #06396fb1;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 5px;
  font-family: Prata;
  font-weight: normal;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-fill-color: #825F40;
  font-size: 16px;
  resize: none;
  overflow-y: auto;
  scrollbar-color: #8b8b8b transparent;
}

.chat-input:focus, .chat-input:hover {
  outline: none;
  border-color: #613F22;
}