@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.chat-area {
  width: 100%;
  min-width: 23rem;
  height: 100vh;
  /* background-color: green; */
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-input {
  width: 50%;
  height: 19.11%;
  min-width: 23rem;
  background-color: #D2C4BC;
  border: 2px solid #825F40;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 0px 40px 2px #06396fb1;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 5px;
  font-family: Prata;
  font-weight: normal;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-fill-color: #825F40;
  font-size: 16px;
  resize: none;
  overflow-y: auto;
  scrollbar-color: #8b8b8b transparent;
}

.chat-input:focus, .chat-input:hover {
  outline: none;
  border-color: #613F22;
}