.sidebar {
    x: 0;
    y: 0;
    min-width: 3rem;
    width: 3rem;
    min-height: 100vh;
    background-color: #06386F;
    border-radius: 0px 4px 4px 0px;
    border-right-style: solid;
    border-right-color: black;
    display: flex;
    flex-direction: column;
    float: left;
    transition: width 350ms ease;
    overflow: hidden;
}

@media (max-width: 800px) {
    .sidebar {
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
    }
}

.sidebar.active {
    width: 18rem;
    flex-shrink: 0;
    transition: width 350ms ease;
}

.chat-history {
    width: 3rem;
    height: 65vh;
    flex: 1 1 auto;
    /* background-color: aquamarine; */
    min-height: 0;
}

.sidebar-list {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
    width: 100%;
    align-items: start;
    margin-left: 0.25rem;
}


.sidebar-list-item {
    list-style-position:inside;
    border: 1px solid #06386F;
    list-style: none;
    font-family: Prata;
    color: aliceblue;
    display: flex;
    /* background-color: green; */
    border-radius: 4px;
    margin-top: 1vh;
    cursor: pointer;
    transition: 350ms ease;
    justify-content: start;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
}

a:has(> .sidebar-list-item) {
    text-decoration: none;
}

.sidebar.active .sidebar-list-item {
    width: 17.5rem;
}

.sidebar-list-item:hover {
    background-color: #2270BA;
    border: 1px solid black;
}


.sidebar-text {
    margin-left: 0.4rem;
    /* background-color: red; */
    font-size: 19px;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 350ms ease;
    flex: 1;
}

.sidebar.active .sidebar-text {
    opacity: 1;
    transition: opacity 350ms ease;
}


.open-sidebar-icon, .dark-mode-icon, 
.info-icon, .settings-icon, .donate-icon  {
    min-width: 2rem;
    max-width: 2rem;
    height: 2rem;
    color: aliceblue;
    margin-left: 0.25rem;
    /* background-color: green; */
}

.open-sidebar-icon {
    margin-top: 1vh;
    cursor: pointer;
    margin-left: 0.5rem;
}

.open-sidebar-icon:hover {
    /* background-color: #2270BA; */
}

.donate-icon {
    color: palevioletred;
}

.donate-icon path {
    stroke: aliceblue;
    stroke-width: 2px;
}

 .dark-mode-icon path {
    stroke: aliceblue;
    stroke-width: 1px;
 }