.sidebar {
    x: 0;
    y: 0;
    width: 3rem;
    height: 100vh;
    background-color: #06386F;
    border-radius: 0px 4px 4px 0px;
    border-right-width: 0px 0px 1px 0px;
    border-right-style: solid;
    border-right-color: black;
    display: table-cell;
    float: left;
  }

.chat-history {
    width: 3rem;
    height: 68vh;
}

.open-sidebar-icon, .dark-mode-icon, 
.info-icon, .settings-icon, .donate-icon  {
    margin-top: 1vh;
    margin-left: 0.5rem;
    color: aliceblue;
}

.donate-icon {
    color: palevioletred;
}

.donate-icon path {
    stroke: aliceblue;
    stroke-width: 2px;
}